.App {
  background-color: black;

}

.wrapper {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-rows: 10vh auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  'nav nav nav'
  'movie movie movie';
  margin-left: 5em;
  margin-right: 5em;
}

.header {
grid-area: nav;
 
 
}

/* @media only screen and (min-width : 1100px){ */
.movies {
  row-gap: 1em;
  column-gap: 1ch;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "movie movie movie";
  grid-area: movie;
}
/* } */

.card-item {
  margin-bottom: 1em;
}

.pointer {
  cursor:pointer
}

@media only screen and (max-width : 700px) {
  .movies {
    row-gap: 1em;
    column-gap: 1ch;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "movie";
    grid-area: movie;
  }
}

@media only screen and (max-width:1100px) and (min-width : 700px)  {
  .movies {
    row-gap: 1em;
    column-gap: 1ch;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "movie movie";
    grid-area: movie;
  }
}

